@model Somativa.Models.Compra

@{
    ViewData["Title"] = "Edit";
}

<div class="container container-fluid row">
    <div class="col">
        <h4 class="text-start">Editar Compra de nota @Model.Nota</h4>
    </div>
    <hr />
    <div class="row g-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CompraId" />
            <div class="row g-2">
                <div class="input-group mb-3 col">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
                    <input asp-for="Nota" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="row g-2">
                <div class="form-floating mb-3 col-6">
                    <input asp-for="DataHora" type="text" class="form-control" id="inTel" placeholder="name@example.com" type="datetime">
                    <label asp-for="DataHora" for="inTel">Telefone</label>
                    <span asp-validation-for="DataHora" class="text-danger"></span>
                </div>
                <div class="col justify-content-center align-content-center text-center">
                    <input type="submit" value="Aplicar Alterações" class="btn btn-success" />
                    <a asp-action="Index"><svg bootstrap-icon="ArrowReturnLeft" width="24" height="24" aria-label="Voltar" class="text-danger"></svg></a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
