@model Somativa.Models.Venda

@{
    ViewData["Title"] = "Create";
}

<div class="container container-fluid row">
    <div class="col">
        <h4 class="text-start">Adicionar Venda</h4>
    </div>
    <hr />
    <div class="row g-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row g-2">
                <div class="input-group mb-3 col">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nota Fiscal</span>
                    <input asp-for="Nota" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="row g-2">
                <div class="form-floating mb-3 col">
                    <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                    <label asp-for="ClienteId" class="control-label"></label>
                </div>
                <div class="form-floating mb-3 col-6">
                    <div class="form-floating">
                        <input asp-for="DataHora" type="text" class="form-control" id="inDataHora" placeholder="dd/mm/aaaa" type="datetime-local">
                        <label asp-for="DataHora" for="inDataHora">Data e Hora</label>
                    </div>
                </div>
                <div class="col justify-content-center align-content-center text-center">
                    <input type="submit" value="Adicionar" class="btn btn-success" />
                    <a asp-action="Index"><svg bootstrap-icon="ArrowReturnLeft" width="24" height="24" aria-label="Voltar" class="text-danger"></svg></a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
