@model Somativa.Models.Categoria

@{
    ViewData["Title"] = "Edit";
}

<div class="container container-fluid row">
    <div class="col">
        <h4 class="text-start">Editar Cliente, @Model.Nome</h4>
    </div>
    <hr />
    <div class="row g-2">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoriaId" />
            <div class="row g-2">
                <div class="input-group mb-3 col">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
                    <input asp-for="Nome" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="col justify-content-center align-content-center text-center">
                    <input type="submit" value="Aplicar Alterações" class="btn btn-success" />
                    <a asp-action="Index"><svg bootstrap-icon="ArrowReturnLeft" width="24" height="24" aria-label="Voltar" class="text-danger"></svg></a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
